---
layout: layout-post.liquid
pageTitle: "Cool Links"
---
<p>A collect of cool links and articles</a>
<h2>Ethics</h2>
<ul>
	<li>
		<a href="https://ethics-of-ai.mooc.fi/">Ethics of AI</a>
	</li>
</ul>