<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ pageTitle}}</title>
		<link rel="stylesheet" href="/css/system.css">
        <link rel="stylesheet" href="/css/neu.css">
    </head>
    <body>
        <main class="text-content menu-article">
            <header>
                <h1>{{ pageTitle }}</h1>
            </header>
            <nav class="menu neu-extrude">
			    <ul>
				    <li><a href="/">Posts</a></li>
				    <li><a href="/links">Links</a></li>
			    </ul>
		    </nav>
            <article class="neu-extrude">
            {{ content }}
            </article>
        <main>
    </body>
</html>