<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ pageTitle}}</title>
		<link rel="stylesheet" href="/css/system.css">
		<link rel="stylesheet" href="/css/default.css">
    </head>
    <body>
		<nav>
			<ul>
				<li><a href="/">Posts</a></li>
				<li><a href="/links">Links</a></li>
			</ul>
		</nav>
        <main class="text-content">
            <h1>{{ pageTitle }}</h1>
            {{ content }}
        <main>
    </body>
</html>